// Map → key: value - function 더 간단하게
$flex-map: (
  // 축약형 하려고
  start: flex-start,
  end: flex-end,
  between: space-between,
  around: space-around,
  stretch: stretch,
  center: center
);

@function _get-flex-value($key) {
  @return map-get($flex-map, $key);
}

// @function _get-flex-value($key) {
//   @if ($key == start) {
//     @return flex-start;
//   }

//   // flex-start → start
//   // flex-end → end
//   // space-between → between
//   // space-around → around
//   // stretch → stretch
//   // center → center
// }

@mixin flexbox($jc: center, $ai: center) {
  display: flex;
  align-items: _get-flex-value($ai);
  justify-content: _get-flex-value($jc);
}

@mixin inline-flexbox($jc: center, $ai: center) {
  display: inline-flex;
  align-items: _get-flex-value($ai);
  justify-content: _get-flex-value($jc);
}

@mixin column-flexbox($jc: center, $ai: center) {
  display: flex;
  flex-direction: column;
  align-items: _get-flex-value($ai);
  justify-content: _get-flex-value($jc);
}

// .list {
//   // @include flexbox(flex-start, center);
//   @include flexbox();
// }

// mixin은 include를 써야하는데, function은 바로 사용 가능
// mixin은 코드 전달, function은 값만 전달
// p {
//   font-size: _get-flex-value();
// }
