/*
    * MOBILE (<768px)
    * fixture ------------------ sm
    * columns ------------------ 4
    * unit --------------------- 100% - (5px * 2) / 4 - 20px
    * gutter ------------------- 20px
    * margin ------------------ 5px
    * container-size ----------- 100% - (5px * 2)
    *
    * TABLET (>=768px)
    * fixture ------------------ md
    * columns ------------------ 12
    * gutter ------------------- 20px
    * margin ------------------ 30px
    * container-size ----------- 100% - (30px * 2)
    * max-container-size ----- 960px
    *
    * DESKTOP (>=768px)
    * fixture ------------------ lg
    * columns ------------------ 12
    * unit --------------------- 75px
    * gutter ------------------- 20px
    * margin ------------------ auto
    * container-size ----------- 1140px
    * max-container-size ----- 1140px
*/

// gutter는 공통값이라서
$gutter: 20px;

$sm-columns: 4;
$sm-margin: 5px;

$md-columns: 12;
$md-margin: 30px;
$md-max-container: 960px + $md-margin * 2;

$lg-columns: 12;
$lg-unit: 75px;
$lg-max-container: ($lg-unit + $gutter) * $lg-columns;

// @debug ($lg-unit + $gutter) * $lg-columns;

.container {
  width: 100%;
  padding: 0 $sm-margin;
  margin: 0 auto;

  .row {
    // 컬럼 가로 정렬
    display: flex;
    // 컬럼이 넘쳤을경우 아래로 떨어뜨림
    flex-wrap: wrap;
  }

  // 속성 선택자 []안에는 attribute
  // .col-sm-1, .col-md-2, col-lg-3은 고르고 acol-은 안고름
  [class^='col-'] {
    padding: 0 $gutter / 2;
  }

  @for $i from 1 through $sm-columns {
    // @debug $i;
    .col-sm-#{$i} {
      //   width: $i / $sm-columns * 100%;
      width: percentage($i / $sm-columns);
    }
  }

  //     @media screen and (min-width: $md-breakpoint) {
  @include responsive(T) {
    max-width: $md-max-container;
    padding: 0 $md-margin;

    @for $i from 1 through $md-columns {
      // @debug $i;
      .col-md-#{$i} {
        //   width: $i / $sm-columns * 100%;
        width: percentage($i / $md-columns);
      }
    }
  }

  //   @media screen and (min-width: $lg-breakpoint) {
  @include responsive(D) {
    max-width: $lg-max-container;
    padding: 0;

    @for $i from 1 through $lg-columns {
      // @debug $i;
      .col-lg-#{$i} {
        //  데스크탑부터는 px고정
        width: ($lg-unit + $gutter) * $i;
      }
    }
  }
}
